.text7 {
    text-align: center;
    margin-left: 130px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Georgia Pro Black";
    display: flex;
  }

.googleButton {
    display: inline-block;
    background: white;
    color: #444;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: thin solid #888;
    box-shadow: none;
    white-space: nowrap;
    margin-left: 70px;
    margin-top: 15px;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    
  
  }

  

.googleButton:hover {
  cursor: pointer;
  background-color: rgb(213, 235, 224);
}

.button-color{
  background: black !important;
  color: #fff !important;
  border: none;
  box-shadow: none;
  margin-top: 33px;
  height:35px  
}


  
  
.button2-color{
  background: white !important;
  color: black !important;
  box-shadow: none;
  margin-top: 33px;
  height:35px    
}

.button3-color{
  background: black !important;
  color: white !important;
  box-shadow: none;
  margin-left: 5px;
  margin-top: 160px;
  height:35px;
  width:450px;
  text-align: center;
}

.imggoogle {  
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: middle;  
}

.flex-child-edge2 {
  flex-grow: 2;
  height: 1px;
  background-color: transparent;
  border: 1px rgb(231, 226, 226) solid;
  margin-left: 10px;
}

.flex-child-text2 {
  flex-basis: auto;
  flex-grow: 0;
  margin: 0px 5px 0px 5px;
  text-align: center;
}

.txt2 { 
  font-family: "Arial";
  font-size: 20px;
  margin-left: 10px;
  margin-top: 1px;
  text-align: center;
}

.txt3 {
  font-family: "Arial";
  margin-left: 130px;  
}

.flex-parent2 {
  display: flex;
  width: 300px;
  height: 50px;
  align-items: center;
  margin-left: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.reactivateButton {
  display: inline-block;
  background: red;
  color: white;
  width: 200px;
  height: 25px;
  border-radius: 30px;
  border: thin solid #888;
  box-shadow: none;
  white-space: nowrap;
  margin-top: 15px;
  margin-left: 130px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  text-align: center;

}

.reactivateButton:hover {
  cursor: pointer;
  background-color: gray;
}