.widgetsSearch {
    z-index: 2;
    position: sticky;
    top: 0;
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    border-radius: 9999px;
    border: 1px gray solid ;
    padding: 10px 18px;
    width: 400px;
    margin-left: 245px;
  }
  .widgetsSearchIcon {
    color:#5E8CA6;
    font-size: 20px;
  }
  .widgetsSearchInput {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #5E8CA6;
    outline: none;
    align-items: center;
  }
  .widgetsSearchInput::placeholder {
    color: #5e8ca6;
    font-size: 15px;
    text-align: left;
  }
  .widgetsSearchFocus {
    border: 2px #1D9BF0 solid ;
    background-color: white;
    
  }
  .widgetsSearchIconFocus {
    color:#5E8CA6;
  }
  