.BlockUsers {
    flex: 1;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
  }

.Userstitle {
  font-size: 25px;
  font-weight: 600;
  color: brown;
  margin-top: 20rem;
}
