
.settingsTitle {
    background-color:white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -11%;
    border-bottom: 1px solid #e6ecf0;
    
}
.settingsTitle > span {
    color: black;
    display: inline;
    font-size: 19px;
    font-weight: 800;
  }

.SettingsContent{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    margin-top: 5%;
    width:100%;
    height: 50px;
    background-color:white;
    padding-right: -10px;
    margin-left: -11%;

    

}
.SettingsContent>span{

 padding:10%;
}
.SettingsContent> .MuiSvgIcon-root {
    margin-top: 0%;
}
.SettingsContent:hover {
    
    transition: color 100ms ease-out;
    background-color:#F7F9F9;
}

.leftArrIcons {
    color: black;
    fill:black;
    
}

.SettingsContentActive {

    border-right: 2px #1DA1F2 solid;

    
}

@media screen and (max-width: 768px) {
.settingsTitle{
    margin-left: 0%;
}
.SettingsContent{
    margin-left: 0%;
}
}

