.settingsSubMenu {
    flex:0.9;
    min-height: 100vh;
    height: max-content;
    width:100%;
    background-color:white;
    border-right: 1px solid #e6ecf0;
    

}

.SubMenuTitle {
    background-color:white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6ecf0;

}

.SubMenuTitle > span{
    color: black;
    display: inline;
    font-size: 19px;
    font-weight: 800;

}

.submenu_discription >h3{
    font-size: 12px;
    text-align: left;
    color:#536471;
    padding: 15px;


}

.SubsettingsContent:hover {
    
    transition: color 100ms ease-out;
    background-color:#F7F9F9;
}
.SubsettingsCont{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    height: 50px;
    background-color:white;
    padding: 15px;
    

}  
.SubsettingsCont:hover {
    
    transition: color 100ms ease-out;
    background-color:#F7F9F9;
}
.SubsettingsContent{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    height: 50px;
    background-color:white;
    

}  

.SubsettingsIcons{


    color: black;
    align-items: center;  
    margin-top: 5px;
    margin-left: 25px;


    


}

.Accountinfo_discrip{

    height: 50px;
    width: max-content;
    text-align: left;
    margin-left: 25px;
    margin-top: 16px;
    
    
}
.Accountinfo_discrip>h5{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 15px;

}
.Accountinfo_discrip>h6{
    margin-top: -27px;
    width:max-content;
    color:#536471;
    font-weight: normal;
    font-size: 12px;
}
.Avatar{

    margin-left: 15px;

}
.text_discrip{
    height: 50px;
    width: max-content;
    text-align: left;
    margin-left: 25px;
    margin-top: 16px;
    
}
.text_discrip>h5{
    margin-bottom: 20px;
    font-weight: Bold;
    font-size: 15px;
}
.text_discrip>h6{

    margin-top: -27px;
    width:max-content;
    color:#536471;
    font-weight: normal;
    font-size: 12px;

}

.leftArrowIcons{

    margin-left: 40px;
    margin-top: -1px;
    color:black;
    



}

.SettingsContentInMenus{
    display: flex;
    cursor: pointer;
    margin-top: -15px;
    height: 50px;
    background-color:white;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;

}
.SettingsContentInMenus >span{

    margin-top: 15px;
    font-weight: normal;
    font-size: 14px;
    margin-left: 15px;
}
.leftArrowIcons2{

    margin-top: 12px;
    color: black;
}

.SettingsContentInMenus:hover {
    
    transition: color 100ms ease-out;
    background-color:#F7F9F9;
}
.save_username_button {
    background-color: var(--twitter-blue) !important;
    border: none !important;
    color: white !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-left: auto !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
}
.save_username_button:disabled {
    background-color: #57b7f790 !important;
    color: white !important;
}

.savebutton{
    margin-top: 20px;
    margin-left: 470px;
}

.settingsSubMenu > h3{

    text-align: left;
    color:#51B2F3;
    padding:7px;
    padding-left: 15px;
    cursor: pointer;

}
.settingsSubMenu > h3:hover{

    text-align: left;
    color:#51B2F3;
    padding:1px;
    text-decoration: underline;
    padding:7px;
    padding-left: 15px;

}

.settingsSubMenu >h4{

    text-align: left;
    padding:7px;
    padding-left: 15px;
    color: #7B8892;
}
.icons {
    margin-right: 15px;
    font-size: 25px;
  }

.Accountinfo_dec{
    display: flex;
    padding: 15px;
    margin-top:-2%;


}
.Accountinfo_dec>h5{
    
    color: black;
    font-size: 13px;
    font-weight: bold;
    width: max-content;
    margin-left: 20px;
    margin-top: 2px;
}
.Accountinfo_dec>h6{

    margin-top: 20px;
    margin-left: -90px;
    font-weight: bold;
    color: #536471;
    width: max-content;


}
.deactivate_button{

    text-transform:capitalize !important;
    color: black !important;
    width: 100% !important;
    color: red !important;


}
.deactivate_button:hover{

    background-color: rgb(237, 202, 202) !important;


}
.SecurityContent{
    display: flex;
    padding: 15px;
    text-align: left;
    justify-content: space-between;

}
.SecurityContent:hover {
    
    transition: color 100ms ease-out;
    background-color:#F7F9F9;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .settingsSubMenu {
      width:50%;
      flex: 1;
      margin-left: 0% !important;
    }
    .SubsettingsContent{
        width:100%;
        }
    .text_discrip{
        width: 50%;
        margin-left: 0%;
    }
    .text_discrip>h6{
        color: white;
    }
   .savebutton{
       margin-left:50%;
   }
  }