.text3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Georgia Pro Black";
  }

  .Button {
    display: inline-block;
    background: black;
    color: white;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    border: thin solid #888;
    box-shadow: none;
    white-space: nowrap;
    margin-left: 20px;
    margin-top: 60px;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    
  
  }

  

.Button:hover {
  cursor: pointer;
  background-color: gray;
}
