.Notimenu {
    flex: 0.6;
    border-right: 1px solid #e6ecf0;
    min-height: 100vh;
    height: max-content;
    background-color: #ffffff;
    margin-left: 222px;
  }
  
  .notificationsTitle {
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .notificationsTitle > span {
    color: black;
    display: inline;
    font-size: 19px;
    font-weight: 800;
  }
  .notificationsTitle > .MuiSvgIcon-root {
    margin-left: auto;
    border-color:#1DA1F2;
    color: #1DA1F2;
    fill: #1DA1F2;
    font-size: 19px;
    padding: 5px;
    font-weight: 700;
    text-align: center;
    border-radius: 9999px;
  }
  .notificationsTitle > .MuiSvgIcon-root:hover {
    background-color:#1DA1F2;
  }
  .notificationsCategory {
    display: flex;
    flex: 1;
    border-bottom: 0.5px  solid #ECEDEE;
  }
  .notificationsCategory > div {
    flex: 0.5;
    text-align: center;
    color: #747575;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
  }
  .notificationActive {
    border-bottom: 2px  solid  #1DA1F2;
  }
  .notificationActive > span {
    color: #747575;
  }
  .notificationsCategory > div:hover {
    background-color:  #F7F9F9;
  }
  
  .notificationsTitle .MuiAvatar-root {
    display: none;
  }
  @media (min-width: 0) and (max-width: 450px) {
    .notificationsTitle .MuiAvatar-root {
      display: block;
      margin-right: 20px;
      height: 32px;
      width: 32px;
    }
    article {
      min-height: 100vh;
    }
  }
  