.admincontainer {
  display: flex;
  margin-top: 10px;
}

.UsersHome {
  flex: 4;
}
.UserWidget {
  display: flex;
  flex-direction: space-around;
}
.UserChart {
  width: 50%;
  height: 50%;
  display: flex;
  margin-top: 20px;
}

.Charts {
  flex-direction: column;
}
.UserPlotting {
  flex-direction: row;
}
.agecharttitle {
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.blockeduseritem{
flex: 4;
height: 20rem;}
