.newUsersTitle {
  font-size: 22px;
  font-weight: 600;
}

.newUsersImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.newUsersListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.newUsersUser {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.newUsersUsername {
  font-weight: 600;
  margin: 0px 20px;
}

.newUsersUserTitle {
  font-weight: 300;
  color: grey;
}

.newUsersButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}
.newUsersUser>span{
  color:#000000 !important;
  margin-right: 111px;
}

.newUsersIcon {
  font-size: 16px !important;
  margin-right: 5px;
}
