/* .newUsersTitle {
  font-size: 22px;
  font-weight: 600;
}

.newUsersImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.newUsersListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20rem;
}

.newUsersUser {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.newUsersUser>span{
  color:#000000 !important;
}

.newUsersUsername {
  font-weight: 600;
  margin: 0px 20px;
}

.newUsersUserTitle {
  font-weight: 300;
  text-align: right;
}

.newUsersButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 1px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}

.newUsersIcon {
  font-size: 16px !important;
  margin-right: 5px;
} */
