.charts{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chart{
    width: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-top: 20px;
}

.charttitle{
    font-size: 25px;
    font-weight: 600;
    color: brown;
}

@media screen and (max-width: 768px){
    .chart{ 
        width: 100%;
    }
}