.text9 {
  text-align: center;
  /* margin-left: 120px; */
  display: inline-flexbox;
  font-size: 25px;
  font-weight: bold;
  font-family: "Georgia Pro Black";
}
.text8 {
  
  /* margin-left: 120px; */
  font-size: 15px;
  font-family: "Arial";
  margin-top:30px;
  margin-bottom:30px;
}

.resendButton {
  
  /* margin-left: 120px; */
  
  background: white;
  color: dodgerblue;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  border:none;
  text-decoration: underline;
}
.resendButton:hover {
  cursor: pointer;
  background-color: rgb(213, 235, 224);
}

.usePhoneButton {
  
  /* margin-left: 120px; */
  
  background: white;
  color: dodgerblue;
  border-radius: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
  font-weight: bold;
  line-height: 30px;
  border:none;
  text-decoration: underline;
}
.usePhoneButton:hover {
  cursor: pointer;
  
}
