.adminsidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color:white;
    position: sticky;
    top: 50px;
  }
 
  .adminsidebarWrapper {
    padding: 20px;
    color: #555;
  }
  
  .adminsidebarMenu {
    margin-bottom: 10px;
  }
  
  .adminsidebarTitle {
    font-size: 20px;
    color: rgb(187, 186, 186) ;
  }
  
  .adminsidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .adminsidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    

  }
  .adminsidebar ul li a{
    color: #1da1f2 !important;

  }
  
  .adminsidebarListItem.active,
  .adminsidebarListItem:hover {
    background-color: rgb(240, 240, 255);
  }
  
  .adminsidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }
  