.adminhome {
  flex: 4;
  background-image: url("https://img.freepik.com/free-photo/scattered-pile-twitter-icons-background_125322-7.jpg?w=2000");
}
.admincontainer {
  display: flex;
  margin-top: 10px;
}
